# Solarman API Configuration
API_ID=your_app_id
API_SECRET=your_app_secret
BASE_URL=https://globalapi.solarmanpv.com

# Solarman Account
EMAIL=your_email@example.com
PASSWORD="your_password"

# InfluxDB (match docker-compose.yml)
INFLUX_URL=http://localhost:8086
INFLUX_TOKEN=solar-super-secret-token
INFLUX_ORG=solar-org
INFLUX_BUCKET=solar-data

# App Settings
POLL_SECONDS=300
LOG_LEVEL=info
OUTPUT_DIR=./output